html, body {
  overflow: hidden; /* Hide overflow on the body to prevent scrollbars */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height of viewport */
}

.App {
  text-align: center;
  height: 100%; /* Ensure full height of viewport */
  display: flex;
  flex-direction: column;
}

.GameBoard {
  margin: 20px;
}

h1 {
  font-size: 2rem;
}

h2,
h3,
h4 {
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}