.game-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Make the container take full viewport height */
}

.left-column {
    flex: 1; /* Take up available space */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.right-column {
    width: 250px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
    overflow-y: auto; /* Add scroll if content overflows */
}

.header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr; /* Three equal columns */
    align-items: center;
    margin-bottom: 20px; /* Add some space below the header */
}

.header h2 {
    margin: 0; /* Remove default margins */
    text-align: left; /* Align text to the left */
}
.watch-mode-toggle {
    font-size: 1rem;
    margin: 0; /* Remove default margins */
    text-align: left; /* Align text to the left */
}

.map-container {
    flex: 1; /* Take up remaining space in the left column */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.risk-map {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.risk-map text {
    font-size: 12px;
    fill: black;
    text-anchor: middle;
}